*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAF9;
}

.card{
    margin-top: 164px;
    width: 368px;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
    border-radius: 16px;
}

.card > img{
    width: 336px;
    height: 152px;
    border-radius: 16px;
    margin: 16px 16px 0 16px;
}

.label{
    margin-top: 16px;
    margin-left: 16px;
    background-color: #E6D6FC;
    display: inline-block;
    padding: 6px 16px;
    border-radius: 16px;
}

.label p{
    font-size: 10px;
    color: #883AE1;
    font-weight: 700;
}

h1{
    margin-top: 16px;
    color: #20293A;
    font-size: 18px;
    margin-left: 16px;
}

.bodyText{
    margin-top: 6px;
    margin-right: 16px;
    font-weight: 300;
    margin-left: 16px;
    font-size: 14px;
    color: #6C727F;
    line-height: 1.5;
}


.line{
    margin-top: 20px;
    height: 1px;
    width: 100%;
    background-color: #E5EAF0;
}

.person{
    margin: 20px 0;
    margin-left: 16px;
    font-size: 12px;
    color: #6C727F;
}